/*
Theme Name:       Test
Theme URI:        http://drfragen.info/
Description:      Child-Theme of TwentyFifteen.
Author:           Andy Fragen
Template:         twentyfifteen
Version:          1.0.0
GitHub Theme URI: https://github.com/afragen/test-child
GitHub Branch:    master
*/


div#secondary { background-color: lightgray; }

#main-blog p img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  margin-right: 1em;
  -webkit-box-shadow: 3px 3px 3px #666;
  -moz-box-shadow: 3px 3px 3px #666;
}

#main-blog p img.wp-smiley {
  display: inline;
  position: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
